.addChamber {
    display: flex;
    justify-content: center;
}
.addChamber > button {
    cursor: pointer;
    border: none;
    background: var(--secondary);
    color: var(--white);
    display: block;
    padding: 10px 25px;
    border-radius: 2px;
    margin: 20px 0;
}

.addChamber > button > span {
    margin-left: 10px;
}

.addChamber > button:hover {
    box-shadow: 1px 3px 10px var(--grey2);
}

.formPopup {
    position: fixed;
    top: 0%;
    left: 0%;
    line-height: 1.4;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 50;
}

.chamberForm {
    position: relative;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 50;
}

.chamberForm .formHeader {
    color: var(--secondary2);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.chamberForm .formWrap {
    padding: 30px;
    background: var(--light-low);
    border-radius: 6px;
    margin-bottom: 20px;
}

.chamberForm label {
    display: block;
    font-size: 14px;
    color: var(--dark-grey);
    margin-bottom: 14px;
    font-weight: 450;
}

.chamberForm input,
.chamberForm select,
.chamberForm textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid var(--white);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.35);
    font-size: 14px;
    color: var(--dark-grey);
    background: var(--white);
    outline: none;
}

.chamberForm input:focus {
    border: 2px solid var(--grey2);
}

.chamberForm .Button {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.chamberForm button {
    background-color: var(--secondary2);
    padding: 6px 20px;
    color: var(--white);
    font-size: 14px;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    margin-top: 2em;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: -10px;
}

.chamberForm .Close {
    background-color: var(--red);
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 30px;
}

@media (max-width: 420px) {
    .formGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0 20px;
    }

    .chamberForm {
        left: 50%;
        width: 18em;
        padding: 20px;
    }

    .chamberForm .formWrap {
        padding: 20px;
    }

    .chamberForm .formHeader {
        font-size: 16px;
    }

    .chamberForm label {
        font-size: 12px;
    }

    .chamberForm input,
    .chamberForm select,
    .chamberForm textarea {
        font-size: 12px;
    }

    .chamberForm .Button {
        width: 90%;
        margin-top: -30px;
        padding-bottom: 10px;
    }

    .chamberForm button {
        font-size: 12px;
    }
}
