.main {
    width: 100%;
    background-color: var(--white);
}

.Wrapper {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
}

.nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.nav .topNavbar {
    background-color: var(--white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0px 0px 10px var(--light);
}

.nav .topNavbar .logo > img {
    width: 150px;
    /* height: 40px; */
    padding-left: 40px;
}

.nav .topNavbar .logo:hover {
    opacity: 0.7;
}

.logo .leaf {
    position: absolute;
    color: var(--green);
    font-size: 12px;
    margin-top: -6px;
    margin-left: 12px;
}

.nav .topNavbar .navList {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.nav .topNavbar .navList a {
    font-size: 16px;
    color: var(--dark);
    padding-left: 30px;
    background-color: transparent;
    text-decoration: none;
}

.nav .topNavbar .navList a:last-child {
    background-color: var(--secondary);
    margin-left: 30px;
    padding: 10px 20px;
    color: var(--white);
    border-radius: 4px;
}

.nav .topNavbar .navList a:hover {
    color: var(--secondary);
}

.nav .topNavbar .navList a:last-child:hover {
    color: var(--white);
    opacity: 0.8;
}
