.main {
    width: 100%;
    background-color: var(--white);
}

.Wrapper {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
}

.nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.topNavbar {
    background-color: var(--white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0px 0px 10px var(--light);
}

.logo {
    text-decoration: none;
}

.logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.logo > svg {
    padding-left: 40px;
    font-size: 30px;
    color: var(--secondary);
}

.logo > span {
    font-size: 24px;
    color: var(--secondary);
    padding-left: 2px;
    font-weight: 600;
}

.navList {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.navList a {
    font-size: 16px;
    color: var(--dark);
    padding-left: 30px;
    background-color: transparent;
    text-decoration: none;
}

.navList a:nth-child(4),
.navList a:nth-child(5) {
    background-color: var(--secondary);
    margin-left: 30px;
    padding: 6px 20px;
    color: var(--white);
    border-radius: 4px;
    display: block;
    margin-right: -10px;
}

.navList a:hover {
    color: var(--secondary);
}

.navList a:nth-child(4):hover,
.navList a:nth-child(5):hover {
    color: var(--white);
    opacity: 0.8;
}

@media (max-width: 420px) {
    .topNavbar {
        height: 60px;
        padding: 0;
    }

    .logo > svg {
        padding-left: 20px;
        font-size: 20px;
        color: var(--secondary);
    }

    .logo > span {
        font-size: 16px;
        color: var(--secondary);
        padding-left: 2px;
        font-weight: 600;
    }

    .navList a {
        display: none;
    }

    .navList a:nth-child(4),
    .navList a:nth-child(5) {
        padding: 6px 20px;
        font-size: 14px;
    }

    .navList a:nth-child(5) {
        display: none;
    }
}
