.Schedule {
    background: var(--light);
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 80%);
}

.Wrapper {
    background: none;
    display: grid;
    grid-template-columns: minmax(0, 60%) minmax(0, 40%);
    grid-gap: 10px;
    padding: 40px 20px 20px 20px;
}

.WrapperLeft {
    position: relative;
    background: none;
}
.WrapperRight {
    position: relative;
}
