.Schedule {
    background: var(--light);
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 30%) minmax(0, 50%);
    gap: 10px;
    min-height: 100vh;
}
.Wrapper {
    background: none;
    min-height: 100vh;
}

.Wrapper > div {
    min-height: 85vh;
    background: var(--white);
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px var(--light-grey);
    padding: 40px 20px 20px 20px;
}
.WrapperLeft > div {
    min-height: 85vh;
    background: var(--white);
    margin: 20px 10px 0px 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px var(--light-grey);
    padding: 40px 20px 20px 20px;
}
