.Schedule {
    background: var(--light);
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 80%);
    gap: 10px;
    min-height: 100vh;
}

.Wrapper {
    min-height: 85vh;
    background: none;
    display: grid;
    grid-template-columns: minmax(0, 60%) minmax(0, 40%);
    grid-gap: 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    padding: 40px 20px 20px 20px;
}

.WrapperLeft {
    min-height: 90vh;
    position: relative;
    background: none;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
    padding: 0 0 0 0;
}
.WrapperRight {
    min-height: 85vh;
    position: relative;
    background: none;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
    padding: 0 0 0 0;
}
