.latestPatient {
    width: 90%;
    background: var(--white);
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin: 20px auto;
}

.latestPatient > .Title {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-blue);
    border-bottom: 1px solid var(--light);
}
.latestPatient > div {
    text-align: center;
    color: var(--dark-blue);
}
.latestPatient > .Btns {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 30px;
}

.latestPatient > .Btns button {
    background: var(--secondary);
    color: var(--white);
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.latestPatient > .Btns button:hover {
    cursor: pointer;
    opacity: 0.9;
}
