/* TIMEPICKER */

.slotForm > h2 {
    color: var(--dark-blue);
    text-align: center;
    margin-top: 10x;
}
.slotForm .content {
    /* /* flex: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.slotForm > .content > form > .timePicker > div {
    display: inline-block;
    margin: 0px 5px 0px 5px;
}
.slotForm > .content > form > .timePicker > div > input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--secondary);
    width: 50px;
    font-size: 20px;
    color: var(--dark-blue);
    border-radius: 5px;
    outline: 0;
    text-align: center;
}

.slotForm > .content > form > .timePicker > .AP > select {
    background: none;
    border: 1px solid var(--secondary);
    padding: 2px;
    width: 55px;
    font-size: 20px;
    color: var(--dark-blue);
    border-radius: 5px;
    outline: 0;
    text-align: center;
}

.add > button {
    cursor: pointer;
    border: none;
    background: var(--secondary);
    color: var(--white);
    padding: 7px;
    width: 60px;
    border-radius: 2px;
}

.add > button:hover {
    box-shadow: 1px 3px 10px var(--grey2);
}

/* SLOT */
.slotButtons {
    margin-top: 5px;
}

.slotButtons > .slotButton > button {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background: none;
    color: var(--dark-blue);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px 5px;
    border-radius: 2px;
    transition: 500ms;
}
.slotButtons > .slotButton > button:hover {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background: var(--secondary);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px 5px;
    border-radius: 2px;
    box-shadow: 1px 3px 10px var(--grey2);
}
.slotButtons > .slotButton {
    display: inline-block;
}
