.ProfessionalInfo {
    margin: 20px;
}
.ProfessionalInfo > h2 {
    color: var(--dark-blue);
}

.ProfessionalInfo > .Info {
    display: grid;
    grid-template-columns: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
    gap: 10px;
    min-height: 100vh;
}

.ProfessionalInfo > .Info > div {
    border-right: 1px solid var(--secondary);
}

.ProfessionalInfo > .Info > div button {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--secondary);
}
