.slotReady {
    background: var(--white);
    border-radius: 10px;
    padding-top: 10px;
}

.DayNav {
    display: flex;
    justify-content: space-around;
    padding: 1px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--light);
}

.DayNav > span {
    position: relative;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.preSlots {
    margin-top: 25px;
    padding: 5px;
    background: var(--white);
    border-radius: 10px;
}

.deactiveNav {
    background: var(--white);
    color: var(--dark-blue);
}
.activeNav {
    background: var(--primary);
    color: var(--white);
}
