.container {
    display: grid;
    grid-template-columns: minmax(0, 70%) minmax(0, 30%);
    background-color: var(--white);
    margin-right: 24px;
    border-radius: 10px;
    padding: 20px 10px;
    padding-right: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px 0px;
    padding: 10px 20px;
    margin-right: 4px;
    margin-top: -4px;
}

.slot {
    text-align: center;
}

.slotHead {
    color: var(--white);
    background-image: linear-gradient(to right, var(--dark-blue), var(--primary), var(--secondary));
    padding: 10px;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
}

.slotBody {
    background: var(--white);
    padding: 20px 0px;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 6px 14px var(--light-grey);
}

.slotBody > .slotButtons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px 1px;
}

.slotButtons > .slotButton > button {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background: none;
    color: var(--dark-blue);
    padding: 6px 10px;
    border-radius: 2px;
    margin: 6px 4px;
    border-radius: 4px;
    letter-spacing: normal;
    min-width: 80px;
    font-size: 12px;
    text-transform: uppercase;
}

.slotButtons > .slotButton > button:hover {
    background: var(--secondary);
    color: var(--white);
    box-shadow: 1px 3px 10px var(--grey2);
    transition: 300ms;
}

.container > div:last-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container > div:last-child > div {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.container > div:last-child > div > button {
    background-color: var(--red);
    padding: 4px 10px;
    color: var(--white);
    font-size: 10px;
    border: none;
    border-radius: 4px;
}

.container > div:last-child > div > button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 200ms;
}
