/* SLOT */
.Slot {
    margin: 10px 5px;
    box-shadow: inset;
    border: 1px solid var(--white);
    border-radius: 0 0 10px 10px;
}
.slotBody {
    background: var(--white);
    padding: 10px;
}
.slotHead {
    color: var(--dark-blue);
    background-image: linear-gradient(to right, var(--secondary), var(--secondary2));
    padding: 5px 15px;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.slotButtons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.slotButtons > .slotButton > button {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background: none;
    color: var(--dark-blue);
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 5px;
}

.slotBody > .noSlotBody div {
    color: var(--grey2);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
