.ChamberPage {
    background: var(--white);
    border: 1px solid var(--white);
}
.Chambers {
    background: none;
    border: 1px solid var(--light);
    border-radius: 2px;
    margin: 10px 20px 0 0;
    margin-left: 20px;
}
.head {
    display: grid;
    grid-template-columns:
        minmax(0, 2%) minmax(0, 15%) minmax(0, 15%) minmax(0, 15%) minmax(0, 25%) minmax(0, 10%) minmax(0, 10%)
        minmax(0, 8%);
    color: var(--white);
    background-image: linear-gradient(to right, var(--dark-blue), var(--primary), var(--secondary));
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
    margin: 0 0 0 0;
    text-align: center;
}
.body {
    font-size: 12px;
    display: grid;
    grid-template-columns:
        minmax(0, 2%) minmax(0, 15%) minmax(0, 15%) minmax(0, 15%) minmax(0, 25%) minmax(0, 10%) minmax(0, 10%)
        minmax(0, 8%);
    padding: 0 15px;
    text-align: center;
}

.Chambers > .body:nth-child(odd) {
    background: var(--light);
}

.btn > button {
    border: none;
    background: none;
    margin: 0px 5px;
    border-radius: 2px;
}
