.video {
    background-color: rgb(255, 250, 244);
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.video video {
    width: 1200px;
    height: 500px;
}

@media (max-width: 420px) {
    .video {
        padding: 10px;
    }

    .video video {
        width: 320px;
        height: 300px;
        padding: 10px;
    }
}
