.scheduleForm {
    background: var(--white);
    border: 1px solid var(--white);
    height: 50vh;
    width: 100%;
}

.onOff {
    margin-top: 10px;
}
.onOff > div {
    display: inline;
    margin-right: 10px;
}
.onOff > div > span {
    position: relative;
    bottom: 8px;
    padding: 5px 15px;
    border: 1px solid var(--secondary);
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.off {
    background: none;
    color: var(--dark-blue);
}
.on {
    background: var(--secondary);
    color: var(--white);
}
