.scheduleForm {
    background: var(--white);
    border: 1px solid var(--white);
    height: 35vh;
    border-radius: 0 10px 10px 10px;
}

.onOff {
    margin-top: 2px;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
}

.onOff > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.onOff > div > span {
    bottom: 8px;
    padding: 10px 0 10px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.off {
    color: var(--dark-blue);
}
.on {
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
}

.preSlots {
    margin-top: 50px;
    background: var(--white);
    border-radius: 0 0 10px 10px;
}
