.Appointment {
    background: var(--white);
    border-radius: 10px;
    margin: 20px 20px 0 0;
    box-shadow: 5px 5px 15px var(--grey2);
}
.head {
    display: grid;
    grid-template-columns: minmax(0, 10%) minmax(0, 25%) minmax(0, 10%) minmax(0, 10%) minmax(0, 35%) minmax(0, 10%);
    color: var(--white);
    background-image: linear-gradient(to right, var(--dark-blue), var(--primary), var(--secondary));
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
    margin: 40px 0 0 0;
}
.Appointment > .body {
    font-size: 12px;
    display: grid;
    grid-template-columns: minmax(0, 10%) minmax(0, 25%) minmax(0, 10%) minmax(0, 10%) minmax(0, 35%) minmax(0, 10%);
    padding: 0 15px;
}
.Appointment > .body > p:nth-last-child(1) {
    color: var(--primary);
    cursor: pointer;
}
.Appointment > .body:nth-child(odd) {
    background: var(--light);
}
.Appointment > .body:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
}
