.Profile {
    background: var(--light);
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 80%);
    gap: 20px;
    min-height: 100vh;
}

.profileWrapper {
    margin: 20px 20px 20px 0px;
}

.ChamberPage {
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 20px;
}
.Chambers {
    background: none;
    border: 1px solid var(--light);
    border-radius: 2px;
    margin: 10px 20px 0 0;
    margin-left: 20px;
}
.head {
    display: grid;
    grid-template-columns:
        minmax(0, 2%) minmax(0, 15%) minmax(0, 15%) minmax(0, 15%) minmax(0, 25%) minmax(0, 10%) minmax(0, 10%)
        minmax(0, 8%);
    color: var(--white);
    background-image: linear-gradient(to right, var(--dark-blue), var(--primary), var(--secondary));
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
    margin: 0 0 0 0;
    text-align: center;
}
.body {
    font-size: 12px;
    display: grid;
    grid-template-columns:
        minmax(0, 2%) minmax(0, 15%) minmax(0, 15%) minmax(0, 15%) minmax(0, 25%) minmax(0, 10%) minmax(0, 10%)
        minmax(0, 8%);
    padding: 0 15px;
    text-align: center;
    margin-bottom: 10px;
}

.Chambers > .body:nth-child(odd) {
    background: var(--light);
}

.btn > button {
    border: none;
    background: none;
    margin: 0px 5px;
    border-radius: 2px;
}

@media (max-width: 420px) {
    .Profile {
        background: var(--light);
        display: grid;
        grid-template-columns: minmax(0, 20%) minmax(0, 80%);
        gap: 20px;
        min-height: 100vh;
    }

    .Profile {
        background: var(--light-low);
        grid-template-columns: minmax(0, 100%);
        gap: 0px;
        margin: 16px;
        margin-bottom: 8em;
    }
    .Profile > div:first-child {
        display: none;
        padding: 0;
        margin: 0;
    }

    .profileWrapper {
        margin: 0px;
    }

    .head {
        display: grid;
        grid-template-columns: minmax(0, 100%);
        color: var(--white);
        background-image: linear-gradient(to right, var(--dark-blue), var(--primary), var(--secondary));
        border-radius: 2px 2px 0 0;
        font-size: 12px;
        font-weight: 600;
        padding: 0 15px;
        margin: 0 0 0 0;
        text-align: center;
    }
    .body {
        font-size: 12px;
        display: grid;
        grid-template-columns: minmax(0, 100%);
        padding: 0 15px;
        text-align: center;
        margin-bottom: 10px;
    }
}
