.eprescription {
    padding: 20px 20px;
}

.eprescription > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eprescription > div > p {
    font-size: 14px;
    color: var(--dark);
    margin-top: 6px;
}

.eprescription > div > button {
    border: none;
    padding: 8px 14px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 14px;
    border-radius: 2px;
}
.eprescription > div > button:hover {
    opacity: 0.9;
    transition: 200ms;
    cursor: pointer;
}

.infoTable {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    color: var(--dark-grey);
    font-size: 14px;
}

.infoTable td,
.infoTable th {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid var(--light);
    text-align: center;
    font-size: 12px;
}

.infoTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--primary);
    background-color: var(--white);
    font-size: 14px;
}

.infoTable td:last-child {
    text-align: center;
    font-size: 12px;
}

.infoTable td:last-child > svg:first-child {
    color: var(--secondary);
}

.infoTable td:last-child > svg:first-child:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 200ms;
}

.infoTable tr:nth-child(odd) {
    background-color: var(--light-low);
}
