.Profilecard {
    width: 80%;
    height: 220px;
    margin: 20px auto;
    background: var(--white);
    color: var(--secondary);
    border: 1px solid var(--light);
    border-radius: 10px;
    padding: 20px;
}

.Profilecard > .Image > img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border: 1px solid var(--light);
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.Profilecard > div {
    text-align: center;
}
