.SelectDate {
    margin: 20px;
}
.SelectDate > h2 {
    color: var(--dark-blue);
}

.SelectDate form > label {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
    background: var(--white);
    padding: 0 2px;
}

.SelectDate form > input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--secondary);
    outline: 0;
    display: block;
    margin: 0 0 10px 0;
    border-radius: 2px;
    padding: 7px 10px;
    width: 30%;
}
