/* .offlineForm {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.chamberSelection {
    margin-left: 50px;
}
.chamberSelection > label {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
    background: var(--white);
    padding: 0 2px;
}
.chamberSelection > select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--secondary);
    background: none;
    outline: 0;
    display: block;
    margin: 0 0 10px 0;
    border-radius: 2px;
    padding: 7px 10px;
    width: 80%;
    color: var(--form-text);
    cursor: pointer;
}
.chamberSelection > select:focus {
    outline: 0;
}
.chamberSelection > select + label {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
    background: var(--white);
    padding: 0 2px;
} */
