.chamberSelection {
    margin-top: 15px;
}
.chamberSelection > label {
    color: var(--dark-blue);
    font-size: 15px;
    top: 10px;
    padding: 0 2px;
}
.chamberSelection > select {
    background: none;
    border: 1px solid var(--secondary);
    font-size: 15px;
    color: var(--dark-blue);
    border-radius: 2px;
    outline: 0;
    text-align: center;
}
