.ProfileDetail {
    background: var(--white);
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 10px;
    border: 1px solid var(--white);
    font-size: 14px;
}

.ProfileDetail > .Basic {
    background: none;
    padding: 20px;
}

.ProfileDetail > .Basic > div {
    padding: 20px;
    border-bottom: 1px solid var(--grey2);
}

.ProfileDetail > .Basic > div > h3 {
    color: var(--dark-blue);
}

.ProfileDetail > .Basic > div > ul {
    color: var(--dark);
}
