.ProfileDetail {
    background: var(--white);
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 10px;
    border: 1px solid var(--white);
    font-size: 14px;
}

.ProfileDetail > .Basic {
    padding: 20px;
}

.ProfileDetail > .Basic > div {
    padding: 20px;
    background: none;
    border: 1px solid var(--light);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--light);
}

.ProfileDetail > .Basic > div:hover {
    cursor: pointer;
}

.ProfileDetail > .Basic > div > h2 {
    color: var(--secondary);
    font-weight: 500;
}

.ProfileDetail > .Basic > div > ul {
    color: var(--dark-blue);
    list-style-type: none;
}

.ProfileDetail > .Basic > div > ul li::before {
    content: '\2713';
}
