.ProfileDetail {
    margin: 20px;
}
.ProfileDetail form {
    display: inline-block;
}

.ProfileDetail form > label {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
    background: var(--light);
    padding: 0 2px;
}
.ProfileDetail form > input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--secondary);
    color: var(--dark-blue);
    background: var(--light);
    outline: 0;
    display: block;
    margin: 0 0 10px 0;
    border-radius: 2px;
    padding: 7px 10px;
    width: 70%;
}
