.Upcoming {
    width: 90%;
    background: var(--white);
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
}

.Upcoming > .Individual {
    margin-bottom: 2px;
    border: 1px solid var(--light);
    border-left: 1px solid var(--red);
}

.Upcoming > .title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-blue);
}

.Upcoming > .title p span {
    font-size: 10px;
    padding: 4px;
    border: 1px solid var(--grey2);
    background: var(--grey2);
    color: var(--white);
    border-radius: 5px;
}

.Upcoming > .Individual > div {
    display: flex;
    margin-left: 15px;
    font-size: 14px;
    line-height: 0.5;
    justify-content: space-between;
    color: var(--grey);
}

.Upcoming > .Individual > div button {
    margin-top: 20px;
    margin-right: 10px;
    height: 25px;
    font-size: 10px;
    background: var(--grey);
    color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 5px;
    cursor: pointer;
}

.Upcoming > .Individual > div button:hover {
    opacity: 0.9;
}
