.Register {
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background: var(--white);
}

.statusMsg > span {
    background: red;
    border-radius: 50px;
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 0 4px;
}

.Wrapper {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 80px;
    padding: 0;
    border-radius: 5px;
    margin: 0 auto;
    z-index: 50;
    transition: 200ms;
    width: 100%;
    padding: 2em 8em;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 60px 50px;
}
.left > div {
    width: 100%;
}
.left > div > h2 {
    text-align: center;
    color: var(--primary);
    margin: 0 0 20px 0;
}
.left > div > h2 > svg {
    margin: 0 5px 0 0;
}
.left > div > form > div,
.left > div > form > div > div {
    position: relative;
    width: 100%;
}
.left > div > form > div > input,
.left > div > form > div > div > input {
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    padding: 8px 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
    border-bottom: 2px solid var(--grey2);
    position: relative;
}
.left > div > form > div > input + label::before,
.left > div > form > div > div > input + label::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: 200ms;
}
.left > div > form > div > input:focus + label::before,
.left > div > form > div > div > input:focus + label::before {
    width: 100%;
}
.left > div > form > div > input + label span,
.left > div > form > div > div > input + label span {
    font-size: 14px;
    color: var(--grey);
    position: relative;
    top: -32px;
    pointer-events: none;
    transition: 200ms;
}
.left > div > form > div > input + label span,
.left > div > form > div > input + label span,
.left > div > form > div > div > input + label span,
.left > div > form > div > div > input + label span {
    top: -52px;
    font-size: 12px;
}
.left > div > form > button {
    color: var(--white);
    background: var(--primary);
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0 0 0;
    font-size: 16px;
    padding: 10px;
}

.left > div > form > button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.grid,
.gridTwo {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 20px;
}
.grid > div {
    position: relative;
}
.grid > div > select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: var(--white);
    border: none;
    color: var(--grey);
    padding: 0 4px 0 4px;
    min-height: 26px;
    appearance: none;
    font-size: 12px;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid var(--grey2);
}

.grid > div > select {
    padding: 10px;
}

.grid > div > select:focus {
    outline: 0;
}

.grid > div > select + span {
    width: 0;
    height: 0;
    position: relative;
    top: -15%;
    left: 90%;
    border-top: 5px solid var(--grey);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    z-index: 100;
    pointer-events: none;
}
.grid > div > label {
    color: var(--grey);
    font-size: 12px;
    margin: 0 0 0 5px;
}

.left > div > form > .grid > div > input + label::before {
    bottom: 48px;
}

.grid > div:nth-child(2) {
    position: relative;
    bottom: -26px;
}

.grid > div:nth-child(2) input + label span {
    left: -4px;
}

.linkText {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 20px 0 0 0;
}
.linkText a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    padding-left: 8px;
}

.left .support {
    margin-top: 40px;
    display: none;
}

.support > span {
    display: block;
    text-align: center;
    font-size: 12px;
}

.support > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--primary);
}

.right {
    font-size: 14px;
    color: var(--secondary);
    border-radius: 0 5px 5px 0;
    padding: 0px 40px;
}
.right > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.right > div > h2 {
    font-size: 22px;
    margin: 0;
    margin-top: 14px;
    margin-bottom: -50px;
}

.right > div > div:nth-child(1) > img {
    width: 70%;
    margin-top: 0px;
    opacity: 0.95;
}

.right > div > h2 > svg {
    font-size: 32px;
}
.right p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin-top: 54px;
    color: var(--grey);
}

.right > div > div {
    margin-top: 4em;
    text-align: center;
}

.right span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    margin-top: 0px;
}

.right a:hover {
    opacity: 0.9;
    transition: 200ms;
}

.star {
    color: var(--red) !important;
}

.gridTwo > div > input[type='date'] {
    font-size: 12px;
    padding: 8px 2px;
    color: var(--dark);
    background-color: var(--white);
    margin-top: -2px;
}

.sublabel {
    font-size: 10px !important;
}
.terms {
    font-size: 14px;
}
.terms > label > span {
    color: var(--secondary);
}
@media (max-width: 420px) {
    .right {
        display: none;
    }

    .logo {
        top: 20px;
        left: 24px;
    }

    .logo > img {
        height: 40px;
        width: 40px;
    }

    .Wrapper {
        grid-template-columns: 90%;
        gap: 0px;
        padding: 0;
    }
    .left {
        margin: 30px 0 40px 32px;
    }
    .left > div > h2 {
        margin: 0px 0 30px 0;
    }

    .left .support {
        display: block;
    }

    .left > div > form > div > input + label span,
    .left > div > form > div > div > input + label span {
        font-size: 12px;
    }

    .grid > div > select {
        padding: 10px;
        background-color: var(--white);
        border: 2px solid var(--light);
        border-radius: 2px;
    }
    .grid > div > select + span {
        top: -18%;
        left: 88%;
    }
    .sexWrapper > div > input[type='date'] {
        font-size: 12px;
        padding: 8px 2px;
        background-color: var(--white);
    }
}
