.specialityQualification {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 420px) {
    .specialityQualification {
        grid-template-columns: repeat(1, 1fr);
    }
}
