.aboutWrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 10em;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-gap: 30px;
}

.about .box:first-child {
    margin-top: -2em;
}

.about .box:last-child {
    padding-left: 2em;
}

.about .box .title > p {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--secondary);
    text-transform: uppercase;
    margin-bottom: -10px;
}

.about .box > p {
    font-size: 14px;
    color: var(--dark);
    text-align: center;
    opacity: 0.9;
    margin-bottom: 40px;
}

.buttonContainer > a {
    text-decoration: none;
}

.buttonContainer > a > button {
    background-color: var(--secondary);
    margin-left: 30px;
    padding: 10px 40px;
    color: var(--white);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    margin: 0 auto;
}

.buttonContainer > a > button:hover {
    opacity: 0.8;
    transition: 200ms;
}

.buttonContainer > a > button > span {
    font-size: 24px;
    font-weight: 700;
}

.bgImg {
    position: absolute;
    height: 22em;
    width: 30em;
    opacity: 0.8;
    margin-top: 1em;
    margin-left: 2em;
    opacity: 0.04;
}

.docImg {
    height: 44%;
    opacity: 0.9;
    margin-left: 4em;
    margin-top: -4em;
    position: absolute;
    transform: scaleX(-1);
}

@media (max-width: 420px) {
    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .about .box:first-child {
        margin-top: -9em;
    }

    .about .box .title > p {
        font-size: 22px;
        margin-bottom: -2px;
    }

    .about .box .title > span {
        font-size: 14px;
    }

    .about .box > p {
        margin-top: 18.6em;
        font-size: 14px;
        opacity: 0.9;
    }

    .buttonContainer {
        display: block;
        margin: 0 auto;
    }

    .buttonContainer > a > button {
        padding: 8px 30px;
        font-size: 12px;
    }

    .buttonContainer > a > button > span {
        line-height: 20px;
    }

    .box:last-child {
        padding: 0em;
        display: flex;
        justify-content: center;
    }

    .bgImg {
        height: 10em;
        width: 14em;
        margin-top: 2em;
        margin-left: 0em;
        opacity: 0.05;
    }

    .docImg {
        height: 14em;
        margin-left: 0em;
        margin-top: -1em;
    }
}
