.aboutWrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 12em;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-gap: 30px;
}

.about .box:first-child {
    border: 1px solid var(--light-low);
}

.about .box .title > p {
    text-align: center;
    margin-top: 0.8em;
    font-size: 3em;
    font-weight: 500;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: -2px;
}

.about .box .title > span {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--grey);
    display: block;
}

.about .box > p {
    font-size: 1em;
    color: var(--dark);
    text-align: center;
}

.about .buttonContainer {
    display: flex;
    justify-content: center;
}

.about .buttonContainer > a > button {
    background-color: var(--secondary);
    margin-left: 30px;
    padding: 10px 40px;
    color: var(--white);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.about .buttonContainer > a > button:hover {
    opacity: 0.8;
    transition: 200ms;
}

.about .box > .bgImg {
    position: absolute;
    height: 54em;
    opacity: 0.8;
    margin-top: -15em;
    margin-left: -8em;
    opacity: 0.04;
}

.about .box > .docImg {
    height: 32em;
    opacity: 0.9;
    margin-left: 4em;
    margin-top: -4em;
    position: absolute;
    transform: scaleX(-1);
}

.about .counterWrapper {
    margin-top: 2.2em;
    display: flex;
    justify-content: space-evenly;
}

.about .counterWrapper > div {
    text-align: center;
}

.about .counterWrapper > div > .counter {
    font-size: 1.6em;
    color: var(--primary);
    font-weight: 500;
}

.about .counterWrapper > div > p {
    text-align: center;
    font-size: 1em;
    color: var(--dark);
    margin-top: 0px;
}
