.service {
    width: 70%;
    margin: 0 auto;
    margin-top: 10em;
}

.boxWrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.service .box {
    border-radius: 10px;
    border: 1px solid var(--light);
    background-color: var(--white);
    box-shadow: 2px 4px 6px var(--light-low);
    padding: 20px 30px;
    transition: 300ms;
}

.service .box:hover {
    box-shadow: 2px 4px 6px var(--light);
    transform: translateY(-10px);
    cursor: pointer;
    transition: 300ms;
}

.service .box > p {
    font-size: 2.6em;
    font-weight: 500;
    margin-top: -10px;
    color: var(--light);
    opacity: 0.8;
    visibility: hidden;
}

.service .box img {
    text-align: center;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: -5em;
}

.service .box > span {
    display: block;
    margin-top: 12px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: var(--dark-blue);
    margin-bottom: 14px;
}

.service .box:hover {
    transition: 200ms;
    cursor: pointer;
    box-shadow: 10px 20px 30px var(--light);
}

.service .box:hover > .number {
    opacity: 1;
}

.service .box button:hover {
    opacity: 0.8;
    transition: 200ms;
    cursor: pointer;
}

@media (max-width: 420px) {
    .service {
        width: 82%;
        margin-top: 2em;
    }

    .boxWrapper {
        margin-top: 0px;
        grid-template-columns: 1fr;
        grid-gap: 20px 0px;
    }

    .service .box {
        padding: 14px 20px;
    }

    .service .box > p {
        font-size: 2.2em;
    }

    .service .box img {
        height: 40px;
        margin-top: -4em;
    }

    .service .box > span {
        font-size: 14px;
    }
}
