.service {
    width: 80%;
    margin: 0 auto;
    margin-top: 14em;
}

.title {
    text-align: center;
    font-size: 30px;
    color: var(--blue);
    font-weight: 600;
}

.boxWrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.service .box {
    border-radius: 10px;
    padding: 10px 20px;
    transition: 300ms;
}

.service .box:hover {
    box-shadow: 2px 4px 6px var(--light);
    transform: translateY(-10px);
    cursor: pointer;
    transition: 300ms;
}

.service .box > p {
    font-size: 2em;
    font-weight: 500;
    margin-top: -10px;
    color: var(--light);
    opacity: 0.8;
    visibility: hidden;
}

.service .box img {
    text-align: center;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: -5em;
    opacity: 0.8;
}

.service .box > span {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: var(--secondary);
    margin-bottom: 14px;
}

.service .box:hover {
    transition: 200ms;
    cursor: pointer;
    box-shadow: 2px 4px 8px var(--light);
}

.service .box:hover > .number {
    opacity: 1;
}

.service .box button:hover {
    opacity: 0.8;
    transition: 200ms;
    cursor: pointer;
}

@media (max-width: 420px) {
    .service {
        width: 82%;
        margin-top: 60px;
    }

    .title {
        text-align: center;
        font-size: 24px;
        color: var(--blue);
        font-weight: 500;
    }

    .boxWrapper {
        margin-top: 10px;
        grid-template-columns: 1fr;
        grid-gap: 2px 0px;
    }

    .service .box {
        padding: 14px 20px;
    }

    .service .box > p {
        font-size: 2.2em;
    }

    .service .box img {
        height: 40px;
        margin-top: -4em;
    }

    .service .box > span {
        font-size: 14px;
    }
}
