/* SLOT */
.Slot {
    margin: 5px 5px;
}
.slotBody {
    background: var(--white);
}
.slotHead {
    color: var(--dark-blue);
    background-image: linear-gradient(to right, var(--secondary), var(--grey2), var(--primary));
    padding: 5px 15px;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.slotButtons {
    margin-bottom: 5px;
}

.slotButtons > .slotButton > button {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background: none;
    color: var(--dark-blue);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px 5px;
    border-radius: 2px;
    transition: 500ms;
}
.slotButtons > .slotButton > button:hover {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background: var(--secondary);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px 5px;
    border-radius: 2px;
    box-shadow: 1px 3px 10px var(--grey2);
}
.slotButtons > .slotButton {
    display: inline-block;
}
