/* SLOT */

.Slot {
    margin: 5px 5px 50px 5px;
}

.slotHead {
    color: var(--white);
    background-image: linear-gradient(to right, var(--secondary), var(--secondary2));
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.slotHead span {
    height: 8px;
    width: 8px;
    font-size: 16px;
    background: var(--white);
    color: var(--secondary2);
    border-radius: 50%;
    cursor: pointer;
}

.slotHead .Date {
    margin: 0 20px;
    background: none;
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
}

.slotBody {
    background: var(--white);
    padding: 20px;
    border: 1px solid var(--light);
    border-radius: 0 0 10px 10px;
}

.slotBody > .slotButtons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}

.slotButtons > .slotButton > button {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background: none;
    color: var(--dark-blue);
    padding: 5px 5px;
    margin: 5px 3px;
    border-radius: 5px;
    letter-spacing: normal;
}
.slotButtons > .slotButton > button:hover {
    background: var(--secondary);
    color: var(--white);
}
